<div id="totales" align="left"></div>
<div align="center">
<h3>Registro de Camiones: </h3>
<br />
<br />
<br />
<div id="filtro">
    <div class="titulo"><b>Filtrar por:</b></div>
    <br />
    Fecha: <input name="" type="text" id="username"> Remito: <input name="" type="text" id="username"> Cliente: <input name="" type="text" id="username">
    Chofer: <input name="" type="text" id="username"> 
</div>
<br />
<br />
</div>
<table class="transacciones zebra-striped" cellspacing="0" cellpadding="3" border="1" align="center" width="90%">
    <thead>
        <tr>
            <th align="center">
                Fecha
            </th>
            <th align="center">
                Remito
            </th>
            <th align="center">
                N&uacute;mero tr&aacute;nsito
            </th>
            <th align="center">
                Cliente
            </th>
            <th align="center">
                Volumen despachado
            </th>
            <th align="center">
                Chofer
            </th>
            <th align="center">
                Patente cami&oacute;n
            </th>
            <th align="center">
                Patente acoplado
            </th>
	    <th align="center">
                Transportista
            </th>
            <th align="center">
                Domicilio entrega
            </th>										
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>