<div id="totales" align="left"></div>
<div align="center">
<h3>Registro de Camiones en Espera: </h3>
<br />
<br />
<br />
<div id="filtro">
    <div class="titulo"><b>Filtrar por:</b></div>
    <br />
    <div id="mifiltro"></div>
    <!-- Fecha: <input name="" type="text" id="fecha"> Remito: <input name="" type="text" id="remito"> Cliente: <input name="" type="text" id="cliente">
    Chofer: <input name="" type="text" id="chofer">
    <button class="" id="filtrar">Filtrar</button> -->
</div>
<br />
<br />
</div>
<table class="transacciones zebra-striped" cellspacing="0" cellpadding="3" border="1" align="center" width="90%">
    <thead>
        <tr>
            <th align="center">
                Nomination ID
            </th>
            <th align="center">
                Last Name
            </th>
            <th align="center">
                First Name
            </th>
            <th align="center">
                Truck License Plate
            </th>
            <th align="center">
                Trailer License Plate
            </th>
            <th align="center">
                Client
            </th>
            <th align="center">
                Delivery Note Company
            </th>
            <th align="center">
                Transport Company
            </th>
	    <th align="center">
                Parking Entry Time
            </th>
            <th align="center">
                Terminal Entry Time
            </th>
            <th align="center">
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>