<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Vitco S.A. :: Sistema de control de camiones.</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" class="salir">Salir</a></li>
            </ul>
            </div>
            <div class="nav-collapse">
            <ul class="nav">
              <% for(x = 0; data.length > x; x++) {
                    <li><a href="#<%= data[x].control%>"><!--<img src="<%=base_url + data[x].img%>">--> <%= data[x].nombre %><!--</a>--></li>
              <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>